*.swp
*.swo
tags
*.o
aux_headers/
*.*~

# -- products --
src/libopf-handler.a
src/parse-ep3

# -- autotools --
autom4te.cache/
configure
config.status
Makefile.in
config.h.in
missing
depcomp
compile
install-sh
Makefile
config.h
stamp-h1
config.log
.deps
*.tar.gz
test-driver
test/*.log
test/*.sh
test/*.sh.trs
test/libtest*.a
test/*-test
